/* Basic Setup */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    min-height: 100%;
    position: relative;
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: quicksand, sans—serif;
}

/* Header and Footer Elements */

header {
    max-height: 7rem;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: #292929;
    bottom: 0;
    color: #fafafa;
    left: 0;
    min-height: 6rem;
    padding: 0.3em;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Game Area */

#game-area {
    margin: 1% auto;
    text-align: center;
    width: 75%;
}

h2 {
    padding: 0.5rem 0 1.5rem 0;
}

.controls {
    border-radius: 0.5rem;
    color: #fafafa;
    cursor: pointer;
    background-color: #363636;
    display: inline-block;
    height: 2.5rem;
    margin: 0.6rem 0.2rem 1.2em;
    width: 5rem;
}

#player {
    float: left;
    padding-top: 2rem;
    width: 50%;
}

#player-image {
    border-radius: 1rem;
    width: 90%
}

#computer {
    float: right;
    padding-top: 2rem;
    width: 50%;
}

#computer-image {
    border-radius: 1rem;
    width: 90%
}

.scores {
    font-size: 87%;
}

/* Game Area Messages and Actions */

#moves-left {
    clear: both;
    font-size: 87%;
    padding: 1rem 0 1rem 0;
}

#outcome {
    font-weight: 600;
    min-height: 2rem;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    #player-image {
        width: 67%
    }

    #computer-image {
        width: 67%
    }

    .scores {
        font-size: 110%;
    }

    #moves-left {
        font-size: 110%;
    }

    #outcome {
        font-size: 110%;
    }
}